.pomodoro{
    /*Customisations*/
    --_icon-paused:"⏸️";
    --_icon-playing:"▶️";

    & input{
      appearance: none;
      cursor:pointer;

      &[name="state"]{
        &:not(:checked):after{content:var(--_icon-paused)}
        &:checked:after{content:var(--_icon-playing)}
      }
    }

    &:has([name="state"]:checked) *{
      animation-play-state: running;
    }
}


